body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: #e2e8f0; /* <-- ini bikin teks jadi terang */
}

.jumbotron img {
  border-radius: 50%;
  border: 3px solid #38bdf8;
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.6);
}

h2,
h5 {
  margin-top: 10px;
}

section {
  padding: 80px 0;
}

.card {
  background: #1e293b;
  border: none;
  border-radius: 15px;
  transition: 0.3s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.6);
}

.card-title {
  color: #38bdf8;
}

#projects .card p {
  color: #ffffff;
}

.btn-custom {
  background: #38bdf8;
  color: #0f172a;
  border-radius: 30px;
}

.btn-custom:hover {
  background: #0ea5e9;
}

.form-control {
  background: #1e293b;
  border: none;
  color: white;
}

.form-control:focus {
  box-shadow: 0 0 10px #38bdf8;
}

footer {
  background: #020617;
  text-align: center;
  padding: 20px;
  color: #94a3b8;
}

.card small {
  display: block;
  margin-top: 5px;
}

.btn-outline-info {
  border-radius: 20px;
}

.card .btn {
  border-radius: 20px;
}

.timeline {
  position: relative;
  padding-left: 30px;
  border-left: 2px solid #38bdf8;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.timeline-icon {
  position: absolute;
  left: -13px;
  top: 0;
  background: #38bdf8;
  color: #0f172a;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
}

.timeline-content {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  color: #e2e8f0;
}

.timeline-content:hover {
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.5);
  transform: translateY(-5px);
  transition: 0.3s;
}

.timeline-content h5 {
  margin-bottom: 5px;
}

.timeline-content p {
  color: #cbd5f5;
}

#experience {
  background: #0f172a;
  padding: 80px 0;
}

#experience .container {
  max-width: 900px;
}
